page-driver-profile {
    h1 {
        color: $balanced;
        font-size: 1em;
        margin-top: 2.5em;
        margin-left: 12px;
    }
    .chart-heading {
        color: $mdgrey;
        font-size: 1.4rem;
        text-transform: uppercase;
    }
    ion-item {
        ion-avatar {
            position: relative !important;
            .date {
                @include centerer(absolute);
                font-size: 2.5rem;
                color: $softgrey;
                font-weight: bold;
            }
        }
        h2 {
            font-size: 1.25rem !important;
            color: $primary !important;
        }
        h3 {
            color: $mdgrey;
            font-size: 1.15rem !important;
        }
        p {
            font-size: 1rem !important;
            text-transform: uppercase;
            color: $mdgrey;
        }
        .a {
            color: green
        }
        .b {
            color: limegreen
        }
        .c {
            color: orangered
        }
        .d {
            color: red
        }
        .company-name {
            font-size: .8rem;
            text-transform: capitalize;
            color: $balanced;
        }
    }
}
